body {
	background-size: cover;
	background-attachment: fixed;
	font-family: Satisfy;
}

@font-face {
	font-family: Satisfy;
	src: url('../fonts/Satisfy-Regular.ttf');
}

@font-face {
	font-family: Bitter;
	src: url('../fonts/Bitter-Regular.otf');
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

#history {
	font-family: Bitter;
	animation-name: fadeIn;
	animation-duration: 2s;
	font-size: 25px;
	padding-top: 2%;
	color: black;
	text-align: center;
}

#destination {
	width: 50%;
	margin: auto;
	padding-top: 6%;
}

#destinationPrompt {
	font-size: 55px;
	text-align: center;
	padding-bottom: 10%;
	opacity: 0.5;
}

#destinationInput {
	font-family: Bitter;
	width: 85%;
	margin: auto;
	font-size: 20px;
	border-style: none;
	border-radius: 5px;
	padding: 3%;
}

#destinationButton {
	font-family: Bitter;
	float: right;
	font-size: 30px;
	color: gray;
	padding: 15px;
	background-color: white;
	border-radius: 5px;
}

#destinationButton:hover {
	cursor: pointer;
	background-color: gray;
	color: white;
}

#start {
	display: none;
	animation-name: fadeIn;
	animation-duration: 2s;
	width: 50%;
	margin: auto;
	padding-top: 6%;
}

#startPrompt {
	font-size: 55px;
	text-align: center;
	padding-bottom: 10%;
	opacity: 0.5;
}

#startInput {
	font-family: Bitter;
	width: 85%;
	margin: auto;
	font-size: 20px;
	border-style: none;
	border-radius: 5px;
	padding: 3%;
}

#startButton {
	font-family: Bitter;
	float: right;
	font-size: 30px;
	color: gray;
	padding: 15px;
	background-color: white;
	border-radius: 5px;
}

#startButton:hover {
	cursor: pointer;
	background-color: gray;
	color: white;
}

#map {
	max-width: 500px;
	max-height: 200px;
	width: auto;
	height: auto;
	margin: auto;
}